.content{
    background-color: $light-blue;
    display: grid;
    grid-template-areas: "content__picture" "content__text";
    grid-template-columns: 50% 50%;
    grid-template-rows: 99%;
}

.content__text{
    color: $silver;
    text-align: center;
    padding-top: 10%;
    background-image: url(../images/backgroundlines.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 9% 0 9%;
}
.photo_me{
    width: 100%;
}
.text-title{
    font-family: $font-light;
    font-size: 3.5vw;
}
.text-desc{
    font-size: 2vw;
}
.text-desc_about-me_first{
    font-weight: 500;
}
.text-desc_about-me_third{
    font-weight: 700;
}
.text-desc_about-me_second{
    font-weight: 300;
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .content{
        background-color: $light-blue;
        display: grid;
        grid-template-areas: "content__picture" "content__text";
        grid-template-columns: 100vw;
        grid-template-rows: repeat(2, 1fr);
    }
    .content__text{
        max-height: max-content;
    }
    .text-title{
            font-size: 10vw;}
    .text-desc_about-me{
        font-size: 4.2vw;
    }
    .text-title_about-me{
        margin-bottom: 7%;
    }
}