.content{
    background-color: $light-blue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: max-content;
    margin: 0 0 0 0;
}
.content__picture{
    grid-column: 1 / span 1;
    grid-area: 1 / span 1;
    background-image: url(../images/aboutMe_photo.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.content__text{
    grid-column: 2 / span 1;
    grid-area: 1 / span 1;
}

.content__text{
    color: $silver;
    text-align: center;
    padding-top: 10%;
    background-image: url(../images/backgroundlines.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 9% 0 9%;
}
.text-title{
    font-family: $font-light;
    border-bottom: 1px solid $silver;
    font-size: 3vw;
    padding-top: 10%;
}
.text-desc{
    font-size: 1.5vw;
}
.text-desc_about-me_first{
    font-weight: 500;
    padding-top: 3%;
}
.text-desc_about-me_third{
    font-weight: 700;
    padding-bottom: 5%;
}
.text-desc_about-me_second{
    font-weight: 300;
    padding-bottom: 3%;
}

@media screen and (min-width: 320px) and (max-width:767px) {
.content{
    display: grid;
    grid-template-rows: 0.8fr 0.7fr;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0% !important;
}
    .content__picture{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-size: cover;
    }
    .content__text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .text-title {
        font-size: 7.5vw;
        font-style: normal;
        }
    .text-desc_about-me{
        font-size: 4.5vw;
    }
    .text-title_about-me{
        margin-bottom: 7%;
    }
}