
.page-alphamundi{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: $light-blue;
}

.gallery-alphamundi__item{
    margin: 0;
    padding: 0;
}
.gallery-alphamundi__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-alphamundi{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 10vw);
    grid-gap: 0.6vw;
}

.gallery-alphamundi__item--1{
    grid-column: 1 / span 8;
    grid-row: 1 / span 3; 
}
.gallery-alphamundi__item--2{
grid-column: 1 / span 4;
    grid-row: 4 / span 4; 
}
.gallery-alphamundi__item--3{
grid-column: 5 / span 4;
    grid-row: 4 / span 4; 
}
.gallery-alphamundi__item--4{
grid-column: 1 / span 5;
    grid-row: 8 / span 3; 
}
.gallery-alphamundi__item--5{
grid-column: 6 / span 3;
    grid-row: 8 / span 3; 
}
.gallery-alphamundi__item--6{
grid-column: 1 / span 4;
    grid-row: 11 / span 4; 
}
.gallery-alphamundi__item--7{
grid-column: 5 / span 4;
    grid-row: 11 / span 4; 
}
.gallery-alphamundi__item--8{
grid-column: 1 / span 5;
    grid-row: 15 / span 3; 
}
.gallery-alphamundi__item--9{
grid-column: 6 / span 3;
    grid-row: 15 / span 3; 
}
.gallery-alphamundi__item--10{
grid-column: 1 / span 4;
    grid-row: 18 / span 3; 
}
.gallery-alphamundi__item--11{
grid-column: 5 / span 4;
    grid-row: 18 / span 3; 
}
.gallery-alphamundi__item--12{
grid-column: 1 / span 4;
    grid-row: 21 / span 3; 
}
.gallery-alphamundi__item--13{
grid-column: 5 / span 4;
    grid-row: 21 / span 3; 
}
.gallery-alphamundi__item--14{
grid-column: 1 / span 4;
    grid-row: 24 / span 3; 
}
.gallery-alphamundi__item--15{
grid-column: 5 / span 4;
    grid-row: 24 / span 3; 
}
.gallery-alphamundi__item--16{
grid-column: 1 / span 8;
    grid-row: 27 / span 4;    
}

.gallery-alphamundi__text{
    font-family: $font;
    font-size: 3vw;
    text-align: center;
    color: $silver;
}
.gallery-alphamundi__desc{
    font-size: 2.7vw;
    padding: 0 11% 5% 11%;
}

//mobile
@media screen and (min-width: 320px) and (max-width: 480px) {
    
    .gallery-alphamundi{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(16, auto);
        grid-gap: 0.6vw;
    }
    .gallery-alphamundi__item{
        grid-column: 1 / auto;
        grid-row: auto;
    }
.arrow-back__link{
    font-size: 2vw;
}
.gallery-alphamundi__desc{
    font-size: 3vw;
}
}