
.page-alphamundi{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: $dark-blue;
    margin: 0 2% 0 2%;
}

.gallery-alphamundi__item{
    margin: 0;
    padding: 0;
}
.gallery-alphamundi__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-alphamundi{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 10vw);
    grid-gap: 0.6vw;
}

.gallery-alphamundi__item--1{
    grid-column: 1 / span 4;
    grid-row: 1 / span 3; 
}
.gallery-alphamundi__item--2{
grid-column: 5 / span 4;
    grid-row: 1 / span 3; 
}
.gallery-alphamundi__item--3{
grid-column: 9 / span 4;
    grid-row: 1 / span 3; 
}
.gallery-alphamundi__item--4{
grid-column: 1 / span 4;
    grid-row: 4 / span 3; 
}
.gallery-alphamundi__item--5{
grid-column: 5 / span 4;
    grid-row: 4 / span 3; 
}
.gallery-alphamundi__item--6{
grid-column: 9 / span 4;
    grid-row: 4 / span 3; 
}
.gallery-alphamundi__item--7{
grid-column: 1 / span 3;
    grid-row: 7 / span 3; 
}
.gallery-alphamundi__item--8{
grid-column: 4 / span 3;
    grid-row: 7 / span 3; 
}
.gallery-alphamundi__item--9{
grid-column: 7 / span 2;
    grid-row: 7 / span 3; 
}
.gallery-alphamundi__item--10{
grid-column: 9 / span 4;
    grid-row: 7 / span 3; 
}
.gallery-alphamundi__item--11{
grid-column: 1 / span 4;
    grid-row: 10 / span 3; 
}
.gallery-alphamundi__item--12{
grid-column: 5 / span 4;
    grid-row: 10 / span 3; 
}
.gallery-alphamundi__item--13{
grid-column: 9 / span 4;
    grid-row: 10 / span 3; 
}
.gallery-alphamundi__item--14{
grid-column: 1 / span 3;
    grid-row: 13 / span 3; 
}
.gallery-alphamundi__item--15{
grid-column: 4 / span 6;
    grid-row: 13 / span 3; 
}
.gallery-alphamundi__item--16{
grid-column: 10 / span 3;
    grid-row: 13 / span 3;    
}

.gallery-alphamundi__text{
    font-family: $font;
    font-size: 2vw;
    text-align: center;
    color: $silver;
}
.gallery-alphamundi__desc_first{
    font-size: 1.8vw;
    padding: 0 11% 2.5% 11%;
}
.gallery-alphamundi__desc_last{
font-size: 1.8vw;
padding: 0 11% 5% 11%;
line-height: 130%;
}
.gallery-alphamundi__heading{
    border-bottom: 1px solid $silver;
    margin: 2% 10% 2% 10%;
padding-bottom: 2%;
}

//mobile
@media screen and (min-width: 320px) and (max-width: 480px) {
    
    .gallery-alphamundi{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(16, auto);
        grid-gap: 0.8vw;
    }
    .gallery-alphamundi__item{
        grid-column: 1 / auto;
        grid-row: auto;
    }
.arrow-back__link{
    font-size: 2vw;
}
.gallery-alphamundi__desc{
    font-size: 4.5vw;
    line-height: 140%;
}
.gallery-alphamundi__text{
    font-size: 5.5vw;
}
}