.beglobe__page {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: $light-blue;
}

.arrow-back {
    padding: 1% 0 0.5% 1%;
}

.arrow-back__link {
    text-decoration: none;
    color: $silver;
    cursor: pointer;
    font-size: 2vw;

    &:hover {
        color: $light-white;
    }
}

.arrow-back__pic {
    width: 1.8%;
}

.gallery-incentive-dinner__item {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.beglobe-images {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(29, auto);
    grid-gap: 1vw;
}

.beglobe-images__one {
    object-fit: cover;
    grid-column: 1/span 4;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
}

.beglobe-images__nineteen {
    object-fit: cover;
    grid-column: 1/span 3;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}

.beglobe-images__two {
    object-fit: cover;
    grid-column: 4/span 1;
    height: 100%;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}

.beglobe-images__four {
    object-fit: cover;
    grid-column: 1/span 1;
    grid-row: 3/4;
    margin: 0;
    padding: 0;
}

.beglobe-images__five {
    object-fit: cover;
    grid-column: 2/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__three {
    object-fit: cover;
    grid-column: 3/ span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__six {
    object-fit: cover;
    grid-column: 4/ span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__fourteen {
    object-fit: cover;
    grid-column: 1/span 4;
    margin: 0;
    padding: 0;
}

.beglobe-images__seven {
    object-fit: cover;
    grid-column: 1/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__eight {
    object-fit: cover;
    grid-column: 2/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__nine {
    object-fit: cover;
    grid-column: 3/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__eleven {
    object-fit: cover;
    grid-column: 4/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__sixteen {
    object-fit: cover;
    grid-column: 1/span 4;
    margin: 0;
    padding: 0;
}

.beglobe-images__ten {
    object-fit: cover;
    grid-column: 1/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__twelve {
    object-fit: cover;
    grid-column: 2/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__thirteen {
    object-fit: cover;
    grid-column: 3/span 1;
    margin: 0;
    padding: 0;
}

.beglobe-images__seventeen {
    object-fit: cover;
    grid-column: 4/span 1;
    margin: 0;
    padding: 0;
}

.beglobe__heading {
    font-family: $font;
    font-size: 3vw;
    text-align: center;
    color: $silver;
}

.beglobe__desc {
    font-family: $font;
    font-size: 2.8vw;
    padding: 0 11% 5% 11%;
    line-height: 130%;
    color: $silver;
    text-align: center;
}

.beglobe__head {
    font-family: $font;
    font-size: 4vw;
    color: $silver;
    text-align: center;
    border-bottom: 1px solid $silver;
    margin: 5% 10% 5% 10%;
    padding-bottom: 2%;
}