
.contacts{
    background: url("../images/contacts_fon.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: $silver;
    font-size: 2vw;
    padding: 2%;
    height: 30%;
}

.contacts__text{
    text-align: center;
}
.contacts__text h1{
    font-family: $font-light;
    font-size: 4vw;
    color: #f7f0f0;
    padding-bottom: 2%;
}

.socials-img{
    width: 12%;
    height: 12%;
    color: #f7f0f0;
    padding-right: 5%;
    padding-bottom: 2%;
}
.contacts__social li{
    list-style-type: none;
    cursor: pointer;
}

.socials-link{
    color: #f7f0f0;
    font-size: 3vw;
    &:hover{
        color: $silver;
    }
}
.contacts__social{
display: grid;
grid-template-columns: 30% auto 30%;
}
.social-networks{
    grid-column-start: 2;
    grid-column-end: 4;
}


@media screen and (min-width: 320px) and (max-width:767px) {
    .content{
        padding-top: 1%;
    }
    .content__text{
        max-height: max-content;
    }
}