
.contacts{
    background: url("../images/contacts_fon.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: $silver;
    font-size: 2vw;
    text-align: center;
    padding: 2%;
}

.contacts_text p1{
    font-family: $font-light;
    font-size: 4vw;
    color: #f7f0f0;
}

.contacts_text p2{
    font-family: $font-light;
    font-size: 2vw;
    color: #f7f0f0;
    padding: 10 10% 10 10%;
    
}
.contacts_social_link img{
    width: 35px;
    height: 35px;
    color: #f7f0f0;
    margin: 1%;
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .content{
        background: url("../images/contacts_fon.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        color: $silver;
        font-size: 2vw;
        text-align: center;
        padding-top: 1%;
    }
    .content__text{
        max-height: max-content;
    }
    .contacts_text p1{
        font-family: $font-light;
        font-size: 4vw;
        color: #f7f0f0;
    }
    
    .contacts_text p2{
        font-family: $font-light;
        font-size: 2vw;
        color: #f7f0f0;
        padding: 10 10% 10 10%;
        
    }
}