
.contacts{
    background-image: url(../images/contacts_background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
    height: max-content;
}

.contacts__title {
    display: grid;
    text-align: center;
    color: #F7F0F0;
    font-size: 5.3vw;
    padding-top: 5%;
}
.contacts__text{
    text-align: center;
    font-size: 3.5vw;
    color: #F7F0F0;
}

.socials-item{
    width: 2%;
    height: 2%;
}
.socials-item--2, .socials-item--4{
    width: 10%;
    height: 10%;
}
.socials-img{
    width: 100%;
    height: 100%;
    color: #f7f0f0;
    &:hover{
        transform: scale(1.1)
    }
}
.contacts__social{
    display: flex;
    flex-direction: row;
    gap: 1.5%;
    justify-content: center;
    padding-bottom: 5%;
}
.socials-link, .socials-img{
    cursor: pointer;
}
.socials-link--4, .socials-link--2{
    font-size: 1.7vw;
    text-decoration: none;
    color: #F7F0F0;
    &:hover{
        color: $silver;
        text-decoration: underline;
    }
}
.socials-item--2{
    width: 15%;
}
.socials-item--4{
    width: 20%;
}


@media screen and (min-width: 320px) and (max-width:480px) {
    .content{
        padding-top: 1%;
    }
    .content__text{
        max-height: max-content;
    }
    .socials-link--4, .socials-link--2{
        font-size: 4vw;
    }
    .socials-item--2{
        width: 18%;
    }
    .socials-item--4{
        width: 25%;
    }
}
@media screen and (min-width: 481px) and (max-width:767px){
    .socials-link--4, .socials-link--2{
        font-size: 2.5vw;
    }
    .socials-item--2{
        width: 19%;
    }
    .socials-item--4{
        width: 26%;
    }
}