
  .footer {
    position: relative;
    height: 20vh;
    background-color: #13131E; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    
  }

.footer__logo img{
    width: 55%;
    height: 65%;
  }
  
.footer__back_to_top img {
   width: 55%;
   height: 75%;
  }

  .footer__back_to_top a span {
    cursor: pointer;
  }
