
  .footer {
    position: relative;
    height: 16vh;
    background-color: $dark-blue; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    
  }

.footer__logo img{
    width: 55%;
    height: 65%;
  }
  
.footer__back_to_top img {
   width: 55%;
   height: 75%;
  }

  .footer__back_to_top a span {
    cursor: pointer;
  }

  @media screen and (min-width: 320px) and (max-width: 480px){
    .footer {
      position: relative;
      height: 8vh;
    }
  }