@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fira+Sans:wght@400;500&family=Inter:wght@400;700&family=Montserrat:wght@700&family=Open+Sans:wght@400;500&family=Oswald:wght@400;500&family=Roboto:ital,wght@0,500;1,100&family=Saira:wght@700&display=swap');

* {
    margin: 0;
    
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.page {
    overflow: hidden;/*убирает горизонтальный скролл*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html{
    scroll-behavior: smooth;
  }
  .footer {
    margin-top: auto;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12121D;    
  }
  .logo__footer a {
    display: block;
  }

  .logo__footer a img {
    display: block;
    width: 100%;
    height: 270px;
    padding: 0 25px;
  }
  
  .btn_up {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9;
  }
  .btn_up a {
    height: 42px;
    width: 42px;
    text-align: center;
    background: #151414;
    display: block;
    
  }
  .btn_up a span {
    color: #f7f0f0;
    font-size: 45px;
    line-height: 45px;
    cursor:pointer;
  }
  