
html{
    scroll-behavior: smooth;
  }
  .footer {
    position: relative;
    max-width: 100vw;
    height: 20vh;
    background-color: #13131E; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    
  }

   .logo_footer img {
    display: flex;
    width: 75%;
    height: 95%;
  }
  
  .back_to_top img {
   display: flex;
   width: 75%;
   height: 95%;
  }

  .back_to_top a span {
    cursor: pointer;
  }
