.gallery{
    background-color: $dark-blue;
    text-align: center;
    margin: 0 0 0 0;
}
.gallery-container{
    display: grid;
    grid-gap:0.7vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 7vw);
    
}
.gallery-content-1{
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;

}
.gallery-content-2{
    grid-column: 5 / span 4;
    grid-row: 1 / span 3;

}
.gallery-content-3{
    grid-column: 9 / span 4;
    grid-row: 6 / span 4;
}

.gallery-content-4{
    grid-column: 5/ span 5;
    grid-row: 10 /span 3;
}

.gallery-content-5{
    grid-column: 9/ span 4;
    grid-row: 1/ span 5;
}
.gallery-content-6{
    grid-column: 1/ span 4;
    grid-row: 10 / span 3;
}

.gallery-content-7{
    grid-column: 1/ span 8;
    grid-row: 7/ span 3;
}
.gallery-content-8{
    grid-column: 1/ span 4;
    grid-row: 4/  span 3;
}
.gallery-content-9{
    grid-column: 5/ span 4;
    grid-row: 4/ span 3;
}
.gallery-content-10{
    grid-column: 10/ span 3;
    grid-row: 10/ span 3;
}
.gallery-content__title{
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 84px;
    color: #C0C0C0;
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    background-size: cover;
    max-width: 100%;
}
.gallery-content__title:after {
    content: " ";
    background: #C0C0C0;
    width: 80%;
    height: 1px;
    bottom: 15px;
    position: absolute ;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5em;
}
.gallery-content_item{
    height: 100%;
    width: 100%;
    position: relative;
} 
.gallery-content_item{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-content__pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition:.5s ease-in-out;
} 

.gallery-content_item:hover .gallery-content__pic{
    transform: scale(1.05);
}
.gallery-content_text{
    text-decoration: none !important;
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #ffffff !important;
    font-family: $font;
    font-weight: 400;
    font-size: 2.5vw;
    cursor: pointer;
    z-index: 4;
    transition: .0s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-content_item:hover .gallery-content_text{
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
    color: $silver;
}
.more{
    font-size: 1.5vw;
    font-style: oblique;
}

@keyframes move-down{
    0%{
        top: 10%;
    }
    50%{
        top: 30%;
    }
    100%{
        top: 50%;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px){
        
    .gallery{
        margin: 0 2% 0 2%;
    }
    .gallery-container{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(10, 50vh);
            grid-gap: 0.8vw;
        }
        .gallery-content{
            grid-column:1 / auto;
            grid-row: auto;
        }

        .gallery-content__title{
            font-family: $font-light;
            font-style: normal;
            font-size: 7.5vw;
            line-height: 30px;
            color: #C0C0C0;
        }
        .gallery-content_text{
            text-decoration: none !important;
            opacity: 1;
            animation: move-down .3s linear;
            padding: 1em;
            width: 100%;
            color: $silver;
            font-size: 5.5vw;
        }
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .gallery{
        margin: 0 2% 0 2%;
    }
    .gallery-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 60vh);
        grid-gap: 0.8vw;
    }
    .gallery-content{
        grid-column:1 / auto;
        grid-row: auto;
    }

    .gallery-content__title{
        font-size: 7.5vw;
        font-family: $font-light;
        font-style: normal;
    }
    .gallery-content_text{
        font-size: 6vw;;
    }
    .gallery-content_text{
        text-decoration: none !important;
        opacity: 1;
        animation: move-down .3s linear;
        padding: 1em;
        width: 100%;
        color: $silver;
        font-size: 5vw;
    }

    .more{
        font-size: 4vw;
    }
}