.gallery{
    background-color: $dark-blue;
    text-align: center;
}
.gallery-container{
    display: grid;
    margin-right: 10px;
    margin-left:10px ;
    gap:10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 25vw);
    
}
.gallery-content-1{
    grid-column: 1/3;
    grid-row: 1/  1;

}
.gallery-content-2{
    grid-column: 3/ 5;
    grid-row: 1/ 1;

}
.gallery-content-3{
    grid-column: 1/2;
    grid-row: 2/ 3;
}

.gallery-content-4{
    grid-column: 2/3;
    grid-row: 2/ 3;
}

.gallery-content-5{
    grid-column: 3/5;
    grid-row: 2/ 4;
}
.gallery-content-6{
    grid-column: 1/3;
    grid-row: 3/ 4;
}

.gallery-content-7{
    grid-column: 1/5;
    grid-row: 4/ 5;
}
.gallery-content-8{
    grid-column: 1/2;
    grid-row: 5/ 6;
}
.gallery-content-9{
    grid-column: 2/4;
    grid-row: 5/ 6;
}
.gallery-content-10{
    grid-column: 4/5;
    grid-row: 5/ 6;
}
.gallery-content__title{
    color: $silver;
    font-weight: 400;
    font-size: 5.2vw;
    line-height: 30px;
    margin: 0px;
    padding-top: 7%;
    padding-bottom: 6%;
}

.gallery-content_item{
    height: 100%;
    width: 100%;
    position: relative;
} 
.gallery-content_item{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-content__pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition:.5s ease-in-out;
} 

.gallery-content_item:hover .gallery-content__pic{
    transform: scale(1.05);
}
.gallery-content_text{
    text-decoration: none;
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color:$silver;
    font-family: $font;
    font-weight: 400;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-content_item:hover .gallery-content_text{
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
    color: $silver;
}
@keyframes move-down{
    0%{
        top: 10%;
    }
    50%{
        top: 30%;
    }
    100%{
        top: 50%;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px){
        .gallery-container{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(10, auto);
            grid-gap: 0.8vw;
        }
        .gallery-content{
            grid-column:1 / auto;
            grid-row: auto;
        }

        .gallery-content__title{
            font-size: 8vw;
        }
        .gallery-content_text{
            font-size: 4vw;;
        }
}
    
