.gallery{
    background-color: $light-blue;
    text-align: center;
    width: 100%;
}

.gallery-content__title{
    color: $silver;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 30%;
    margin: 0px;
    padding-top: 10%;
    padding-bottom: 6%;
}

.gallery-content{
    display: grid;
    margin-right: 10px;
    gap:10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 30vw);
    
}

.gallery-content__pic{
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

.gallery-content-1{
    grid-column: 1/ span 2;
    grid-row: 1/span 2;
}

.gallery-content-2{
    grid-column: 2/span 5;
    grid-row: 1/span 3;

}

.gallery-content-3{
    grid-column: 1/span 2;
    grid-row: 2/span 5;
    
}

.gallery-content-4{
    grid-column: 2/span 5;
    grid-row: 3/span 6;

}

.gallery-content-5{
    grid-column: 1/span 2;
    grid-row: 5/span 6;

}

.gallery-content-6{
    grid-column: 1/span 3;
    grid-row: 6/span 7;
}

.gallery-content-7{
    grid-column: 3/span 5;
    grid-row: 6/span 7;
    
}

.gallery-content-8{
    grid-column: 1/span 5;
    grid-row: 7/span 8;
    
}

.gallery-content-9{
    grid-column: 1/span 2;
    grid-row: 8/span 9;
    
}

.gallery-content-10{
    grid-column: 2/span 4;
    grid-row: 8/span 9;
    
}

.gallery-content-11{
    grid-column: 4/span 5;
    grid-row: 8/span 9;
    
}

    @media screen and (min-width: 320px) and (max-width:767px){
        .gallery-content{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(11, 0.5fr);
            }
        }