
html {
    scroll-behavior: smooth;   
}

.header {
    position: relative;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #13131E;
    padding: 0 25px;
    transition: 0.3s;
}

/*.header_contact {
    margin-top: -400px;
    width: 100vw;
}*/

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 100%;
    height: 270px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: #C0C0C0;
    text-decoration: none;
    display: block;
    padding: 1px 35px;
    font-size: 3vw;
    background: linear-gradient(#C0C0C0 0 0) 0 100% /var(--t,0) 2px no-repeat;
    transition: 0.5s;
}

.menu li a:hover {
    --t: 100%;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #C0C0C0;
    border-radius: 0px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #C0C0C0;
    border-radius: 0px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 20px;
}

.hamburger:after {
    top: 10px;
    width: 20px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
    /*убрали гамбургер*/
}

.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px; /*размер крестика*/
}

.navigation input:checked~.hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px; /*размер крестика*/
}

.navigation input:checked~.menu {
    right:0;
}

@media screen and (max-width: 570px){

    .hamburger,
    .toggle-menu {
        display: block;
        /*убрали гамбургер*/
    }

    .header {
        padding: 10px 20px;
    }

    .menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -500px;
        top: 100px; /*опускаем подложку меню вниз на высоту хедера*/
        background: #13131E;
        width: 300px;
        height: 100%;
    }

    .menu li {
        width: 100%;
    }

    .menu li a,
    .menu li a:hover {
        color: #C0C0C0;
        text-decoration: none;
        display: block;
        /*padding: 5px 25px;*/
        margin: 25px;
        font-size: 35px;
        background: linear-gradient(#C0C0C0 0 0) 0 100% /var(--t,0) 2px no-repeat;
        transition: 0.5s;
    }    
}