
html {
    scroll-behavior: smooth;   
}

.header {
    background-color: rgba(0,0,0, 0.5);
    padding: 20px 0;
    margin-bottom: -500px;
    position: relative;
    max-width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    transition: 0.3s;
    z-index: 100;
}

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 75%;
    height: 95%;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: rcw;
    align-items: center;
    z-index: 3;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: #C0C0C0;
    text-decoration: none;
    display: block;
    padding: 1px 25px;
    font-size: 3vw;
    background: linear-gradient(#C0C0C0 0 0) 0 100% /var(--t,0) 2px no-repeat;
    transition: 0.5s;
    font-size: 30px !important;
}

.menu li a:hover {
    --t: 100%;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #C0C0C0;
    
    cursor: pointer;
    z-index: 8;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #C0C0C0;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 20px;
}

.hamburger:after {
    top: 10px;
    width: 20px;
}

.toggle-menu {
    position: absolute;
    width: 30%;
    height: 10vh;
    z-index: 9;
    cursor: pointer;
    opacity: 1;
}

.hamburger,
.toggle-menu {
    display: none;
    /*убрали гамбургер*/
}

.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px; /*размер крестика*/
}

.navigation input:checked~.hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px; /*размер крестика*/
}

.navigation input:checked~.menu {
    right:0;
}

@media screen and (max-width: 1200px){

    .hamburger,
    .toggle-menu {
        display: block;
        /*убрали гамбургер*/
    }

    .header {
        padding: 10px 30px;
    }
    .logo a img {
        display: block;
        width: 60%;
        height: 80%;
    }
    
    .menu {
        flex-direction: column;
        position: fixed;
        top: 10vh;
        right: -500px;
        top: 0px; /*опускаем подложку меню вниз на высоту хедера*/
        background: #13131E;
        width: 40%;
        height: 100vh;
    }

    .menu li {
        width: 100%;
    }

    .menu li a,
    .menu li a:hover {
        color: #C0C0C0;
        text-decoration: none;
        display: block;
        padding: 5px 25px;
        margin: 3vh;
        font-size: 4.5vw;
        background: linear-gradient(#C0C0C0 0 0) 0 100% /var(--t,0) 2px no-repeat;
        transition: 0.3s;
    } 
    
    .menu li a {
        color: #C0C0C0;
        text-decoration: none;
        display: block;
        padding: 1px 25px;
        font-size: 3vw;
        background: linear-gradient(#C0C0C0 0 0) 0 100% /var(--t,0) 2px no-repeat;
        transition: 0.5s;
        
    }
    
    .menu li a:hover {
        --t: 100%;
    }

}
