
.page-incentive-dinner{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: $light-blue;
}

.gallery-incentive-dinner__item{
    margin: 0;
    padding: 0;
}
.gallery-incentive-dinner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-incentive-dinner{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(35, 10vw);
    grid-gap: 0.6vw;
}

.gallery-incentive-dinner__item--1{
grid-column: 1 / span 4;
grid-row: 1 / span 3; 
}
.gallery-incentive-dinner__item--2{
grid-column: 5 / span 4;
grid-row: 1 / span 3; 
}
.gallery-incentive-dinner__item--3{
grid-column: 1 / span 3;
grid-row: 4 / span 3; 
}
.gallery-incentive-dinner__item--4{
grid-column: 4 / span 5;
grid-row: 4 / span 3; 
}
.gallery-incentive-dinner__item--5{
grid-column: 1 / span 5;
grid-row: 7 / span 3; 
}
.gallery-incentive-dinner__item--6{
grid-column: 6 / span 3;
grid-row: 7 / span 3; 
}
.gallery-incentive-dinner__item--7{
grid-column: 1 / span 6;
grid-row: 10 / span 3; 
}
.gallery-incentive-dinner__item--8{
grid-column: 7 / span 2;
grid-row: 10 / span 3; 
}
.gallery-incentive-dinner__item--9{
grid-column: 1 / span 3;
grid-row: 13 / span 3; 
}
.gallery-incentive-dinner__item--10{
grid-column: 4 / span 5;
grid-row: 13 / span 3; 
}
.gallery-incentive-dinner__item--11{
grid-column: 1 / span 5;
grid-row: 16 / span 3; 
}
.gallery-incentive-dinner__item--12{
grid-column: 6 / span 3;
grid-row: 16 / span 6; 
}
.gallery-incentive-dinner__item--13{
grid-column: 1 / span 5;
grid-row: 19 / span 3; 
}
.gallery-incentive-dinner__item--14{
grid-column: 1 / span 3;
grid-row: 22 / span 6; 
}
.gallery-incentive-dinner__item--15{
grid-column: 4 / span 5;
grid-row: 22 / span 3; 
}
.gallery-incentive-dinner__item--16{
grid-column: 4 / span 5;
grid-row: 25 / span 3;    
}
.gallery-incentive-dinner__item--17{
grid-column: 1 / span 2;
grid-row: 28 / span 5;    
}
.gallery-incentive-dinner__item--18{
grid-column: 3 / span 2;
grid-row: 28 / span 5;    
}
.gallery-incentive-dinner__item--19{
grid-column: 5 / span 4;
grid-row: 28 / span 3;    
}
.gallery-incentive-dinner__item--20{
grid-column: 1 / span 4;
grid-row: 33 / span 3;    
}
.gallery-incentive-dinner__item--21{
grid-column: 5 / span 4;
grid-row: 31 / span 5;    
}


.gallery-incentive-dinner__text{
    font-family: $font;
    font-size: 4vw;
    text-align: center;
    color: $silver;
}
.gallery-incentive-dinner__desc_first{
    font-size: 2.8vw;
    padding: 0 11% 0 11%;
}
.gallery-incentive-dinner__desc_last{
    font-size: 2.8vw;
    padding: 0 11% 5% 11%;
    line-height: 130%;
}
.gallery-incentive-dinner__heading{
    border-bottom: 1px solid $silver;
    margin: 5% 10% 5% 10%;
padding-bottom: 2%;
}

//mobile
@media screen and (min-width: 320px) and (max-width: 600px) {
    
    .gallery-incentive-dinner{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(21, auto);
        grid-gap: 0.8vw;
    }
    .gallery-incentive-dinner__item{
        grid-column: 1 / auto;
        grid-row: auto;
        }

.arrow-back__link{
    font-size: 2vw;
}
.gallery-incentive-dinner__desc{
    font-size: 4.5vw;
    line-height: 140%;
}
.gallery-incentive-dinner__text{
    font-size: 5.5vw;
}
}