.reviews {
    display: grid;
    grid-template-rows: 0.1fr 0.7fr 0.1fr;
    background-color: #0D0E1A;
    background-size: cover;
}

.reviews__title {
    display: grid;
    text-align: center;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 84px;
    color: #C0C0C0;
    justify-content: center;
    position: relative;
    padding: 15px;
    max-width: 100%;
    background-size: cover;
}

.reviews__title:after {
    content: " ";
    background: #C0C0C0;
    width: 80%;
    height: 1px;
    bottom: 15px;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5em;
}

.reviews__image {
    background-image: url(/assets/images/m-0081.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center center;
}

.reviews__brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, 390px);
    grid-gap: 15px;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    padding: 10px;
    align-items: stretch;
    max-width: 100%;
    object-fit: cover;
    justify-content: space-around;
    position: relative;
    top: -80px;
    padding-bottom: 0;
}

.brand-one {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-two {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-three {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-four {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-five {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-six {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-one__image,
.brand-two__image,
.brand-three__image,
.brand-four__image,
.brand-five__image,
.brand-six__image {
    display: grid;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width:767px) {

    .reviews {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 8fr;
        background-color: #0D0E1A;
        background-size: cover;
    }

    .reviews__image {
        display: none;
    }

    .reviews__title {
        display: grid;
        text-align: center;
        font-family: 'Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 30px;
        color: #C0C0C0;
        justify-content: center;
    }

    .reviews__title:after {
        display: none;
    }

    .reviews__brands {
        display: grid;
        grid-template-columns: repeat(auto-fit, auto);
        grid-gap: 20px;
        font-family: 'Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }

}