.reviews {
    display: grid;
    grid-template-rows: 0.1fr 0.7fr 0.1fr;
    background-color: $dark-blue;
    background-size: cover;
    margin-bottom: -20em;
    ;
}

.reviews__title {
    display: grid;
    text-align: center;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 5.2vw;
    line-height: 84px;
    color: #C0C0C0;
    justify-content: center;
    position: relative;
    max-width: 100%;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
}

.reviews__title:after {
    content: " ";
    background: #C0C0C0;
    width: 80%;
    height: 1px;
    bottom: 15px;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 1.5em;
}

.reviews__image {
    background-image: url(/assets/images/bag_review.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
}

.reviews__brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    grid-gap: 30px;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: $dark-blue;
    padding: 20px;
    align-items: stretch;
    max-width: 100%;
    object-fit: cover;
    justify-content: space-around;
    position: relative;
    top: -90px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.brand-one {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-two {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-three {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-four {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-five {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-six {
    background-color: rgba(226, 226, 226, 0.85);
    border-radius: 40px;
    padding: 15px;
    opacity: 0.7;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
    text-align: justify;
}

.brand-title {
    display: grid;
    justify-content: center;
    padding: 25px;
    font-family: $font;
    color: $dark-blue;
    font-size: 40px;
}

.brand-title_top {
    padding-top: 0% !important;
}

.brand-title_bottom {
    padding-bottom: 0%;
}

@media screen and (min-width: 320px) and (max-width:767px) {

    .reviews {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 8fr;
        background-color: #0D0E1A;
        background-size: cover;
        margin-bottom: 0px;
    }

    .reviews__image {
        display: none;
    }

    .reviews__title {
        display: grid;
        text-align: center;
        font-family: 'Garamond';
        font-style: normal;
        font-weight: 5.2vw;
        font-size: 40px;
        line-height: 30px;
        color: #C0C0C0;
        justify-content: center;
    }

    .reviews__title:after {
        display: none;
    }

    .reviews__brands {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        font-family: 'Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-left: 4em;
        margin-right: 4em;
    }

    .brand-title {
        padding: 25px;
        font-family: $font;
        color: $dark-blue;
        font-size: 25px;
    }
}