@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Regular.woff2"), url("../fonts/EBGaramond-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Medium.woff2"), url("../fonts/EBGaramond-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Bold.woff2"), url("../fonts/EBGaramond-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-SemiBold.woff2"), url("../fonts/EBGaramond-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PF Garamond Text";
  src: url("../fonts/PFGaramondTextLight.woff2"), url("../fonts/PFGaramondTextLight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.page {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

* {
  font-family: "EB Garamond";
}

.content {
  background-color: #1C1C1C;
  display: grid;
  grid-template-areas: "content__picture" "content__text";
  grid-template-columns: 50% 50%;
  grid-template-rows: 99%;
}

.content__text {
  color: #F5F5F5;
  text-align: center;
  padding-top: 10%;
  background-image: url(../images/backgroundwithlines.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.photo_me {
  width: 100%;
}

.text-title {
  font-family: "PF Garamond Text";
  font-size: 3.5vw;
}

.text-desc {
  font-size: 2.2vw;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .content {
    background-color: #1C1C1C;
    display: grid;
    grid-template-areas: "content__picture" "content__text";
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, 1fr);
  }
  .content__text {
    max-height: max-content;
  }
}
.gallery {
  background-color: black;
  text-align: center;
  width: 100%;
}

.gallery-content__title {
  color: #C0C0C0;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5vw;
  line-height: 30%;
  margin: 0px;
  padding-top: 10%;
  padding-bottom: 6%;
}

.gallery-content {
  display: grid;
  width: 96%;
  height: 90%;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
  grid-template-columns: 35% 15% 15% 35%;
  grid-template-rows: 11% 7% 5% 6% 11% 16% 16% 15%;
}

.gallery-content__pic1 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

.gallery-content__pic2 {
  grid-column: 2/5;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}

.gallery-content__pic3 {
  grid-column: 1/2;
  grid-row: 2/5;
  width: 100%;
  height: 100%;
}

.gallery-content__pic4 {
  grid-column: 2/5;
  grid-row: 3/6;
  width: 100%;
  height: 100%;
}

.gallery-content__pic5 {
  grid-column: 1/2;
  grid-row: 5/6;
  width: 100%;
  height: 100%;
}

.gallery-content__pic6 {
  grid-column: 1/3;
  grid-row: 6/7;
  width: 100%;
  height: 100%;
}

.gallery-content__pic7 {
  grid-column: 3/5;
  grid-row: 6/7;
  width: 100%;
  height: 100%;
}

.gallery-content__pic8 {
  grid-column: 1/5;
  grid-row: 7/8;
  width: 100%;
  height: 100%;
}

.gallery-content__pic9 {
  grid-column: 1/2;
  grid-row: 8/9;
  width: 100%;
  height: 100%;
}

.gallery-content__pic10 {
  grid-column: 2/4;
  grid-row: 8/9;
  width: 100%;
  height: 100%;
}

.gallery-content__pic11 {
  grid-column: 4/5;
  grid-row: 8/9;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .gallery-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 0.5fr);
  }
  .gallery-content__pic1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic3 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic4 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
    height: 60%;
  }
  .gallery-content__pic5 {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic6 {
    grid-column: 1/2;
    grid-row: 6/7;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic7 {
    grid-column: 1/2;
    grid-row: 8/9;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic8 {
    grid-column: 1/2;
    grid-row: 9/10;
    width: 100%;
    height: 70%;
  }
  .gallery-content__pic9 {
    grid-column: 1/2;
    grid-row: 10/11;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic10 {
    grid-column: 1/2;
    grid-row: 11/12;
    width: 100%;
    height: 50%;
  }
  .gallery-content__pic11 {
    grid-column: 1/2;
    grid-row: 12/13;
    width: 100%;
    height: 50%;
  }
}
.reviews {
  display: grid;
  grid-template-rows: 0.4fr 2fr 2fr;
  background-color: #0D0E1A;
  background-size: cover;
  max-width: 100%;
}

.reviews__title {
  display: grid;
  text-align: center;
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 84px;
  color: #C0C0C0;
  justify-content: center;
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 100%;
}

.reviews__title:after {
  content: " ";
  background: #C0C0C0;
  width: 80%;
  height: 1px;
  bottom: 15px;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

.reviews__image {
  background-image: url(/assets/images/m-0081.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.reviews__brands {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  margin-top: -10em;
  margin-bottom: 5%;
  background-size: cover;
  padding: 10px;
}

.brand-one {
  background-color: rgba(226, 226, 226, 0.85);
  border-radius: 40px;
  padding: 15px;
  opacity: 0.7;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  text-align: justify;
}

.brand-two {
  background-color: rgba(226, 226, 226, 0.85);
  border-radius: 40px;
  padding: 15px;
  opacity: 0.7;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  text-align: justify;
}

.brand-three {
  background-color: rgba(226, 226, 226, 0.85);
  border-radius: 40px;
  padding: 15px;
  opacity: 0.7;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  text-align: justify;
}

.brand-four {
  background-color: rgba(226, 226, 226, 0.85);
  border-radius: 40px;
  padding: 15px;
  opacity: 0.7;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  text-align: justify;
}

.brand-five {
  background-color: rgba(226, 226, 226, 0.85);
  border-radius: 40px;
  padding: 15px;
  opacity: 0.7;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  text-align: justify;
}

.brand-six {
  background-color: rgba(226, 226, 226, 0.85);
  border-radius: 40px;
  padding: 15px;
  opacity: 0.7;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  text-align: justify;
}

.reviews__lines {
  background-color: none;
  height: 70vh;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 3px solid #C0C0C0;
  border-right: 3px solid #C0C0C0;
  margin-top: -2100px;
}

.brand-one__image,
.brand-two__image,
.brand-three__image,
.brand-four__image,
.brand-five__image,
.brand-six__image {
  display: grid;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
